affine==2.4.0
altair==4.1.0
appdirs==1.4.4
backcall==0.2.0
branca==0.7.1
click-plugins==1.1.1
cligj==0.7.2
contourpy==1.2.0
cycler==0.12.1
Cython==3.0.10
docopt==0.6.2
earthpy==0.9.4
entrypoints==0.4
fiona==1.9.6
folium==0.16.0
fonttools==4.50.0
frozendict==2.4.1
geopandas==0.9.0
html5lib==1.1
imageio==2.34.0
importlib-metadata==6.11.0
ipython==8.12.3
joblib==1.4.2
kiwisolver==1.4.5
lazy_loader==0.4
lxml==5.2.1
matplotlib==3.5.0
multitasking==0.0.11
nbconvert==7.16.4
networkx==3.3
numpy==1.26.4
pandas==2.0.3
patsy==0.5.6
peewee==3.17.1
pickleshare==0.7.5
Pillow==9.5.0
pipeline==0.1.0
pipreqs==0.5.0
plotly==5.21.0
protobuf==3.20.3
pyparsing==3.1.2
pyproj==3.6.1
rasterio==1.3.10
requests==2.31.0
scikit-image==0.23.1
scikit-learn==1.4.2
scipy==1.13.0
seaborn==0.11.2
setuptools-scm==8.0.4
shapely==2.0.4
simplejson==3.19.2
snuggs==1.4.7
statsmodels==0.14.2
streamlit==1.27.0
streamlit-marquee==0.0.7
streamlit_folium==0.19.1
threadpoolctl==3.5.0
tifffile==2024.4.18
tzlocal==5.2
urllib3==1.26.18
validators==0.28.1
watchdog==4.0.0
webencodings==0.5.1
xyzservices==2024.4.0
yarg==0.1.9
yfinance==0.2.37
zipp==3.18.1
